/*  admControlPanel.css
        PROG8105-1 Systems Project: Stylesheet for administrator control panel

    Revision History
        Charles Borras, Will Carvalho, Huilong Ma and Vandana Sharma,  2012.03.04: Created
*/

*
{
    margin:0px;
    padding:0px;
    outline:none;
}

html
{
    background:#E0E0E0;
    width: 100%;
    height: 1200px;
}

body
{
    margin: 10px auto 20px auto;
    width: 1000px;
    height: auto;
    font-family: Arial; 
    cursor: default;
}

img
{
    border: 0;
}

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:active {text-decoration: none;}
a:hover{text-decoration: none;}

ul
{
    list-style-type: none;

}

ul li
{
    float: left;
    margin-top: 5px;
    font-size:15px;
    margin-left: 15px;
    font-weight: bold;
    color: white;
}

li:hover
{
    color: yellow;
    text-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow, 0 0 70px yellow, 0 0 80px yellow, 0 0 100px yellow, 0 0 150px yellow;    
}

#currentPage
{
    color: yellow;
    text-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow, 0 0 40px yellow, 0 0 70px yellow, 0 0 80px yellow, 0 0 100px yellow, 0 0 150px yellow;    
}

input
{
    padding: 3px;
    vertical-align: bottom;
}

input[type=text]:hover
{
    background-color: #f2f2f2;
}

select:hover
{
    background-color: #f2f2f2;
}

input[type=text]:focus
{
    background-color: #FFFFCC;
}

input[type=submit], input[type=reset], input[type=button]
{
    padding: 1px;
    width: 60px;
}

input[type=password]:hover
{
    background-color: #f2f2f2;
}

input[type=password]:focus
{
    background-color: #FFFFCC;
}

.iconAction:hover
{
    cursor: pointer;
}

#mainDiv
{
    width:1000px;
    height: auto;
    float:left;
    background-color: #FFFFFF;
    border-top:1px grey solid;
    border-left:1px grey solid;
    border-right: 1px grey solid;
    box-shadow: 10px 10px 10px #505050;
}

#topDiv
{
    width:1000px;
    height:150px;
    clear: both;
    float: left;
    text-align: center;  
}

#headerDiv
{
    width: 1000px;
    margin-top: 20px;    
    height: 90px;
    float: left;
    clear: both;
    font-size: 60px;
    font-family: Georgia, Arial;
    font-weight: bold;
    color: #000000;
    text-align: center;      
}

#sitePanelNameDiv
{
    width: 1000px;
    height: 30px;
    float: left;
    vertical-align: top;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    text-align: center;   
}

#menuDiv 
{
    width:1000px;
    height: 30px;
    padding: 0px;
    margin: 0px;
    float:left;
    background: #D6D6D6 url(../images/bg_menu.gif) repeat-x;
}

#errorMessage
{
    width: 980px;
    height: auto;
    float: left;
    padding: 10px;
    background-color: #900000;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    font-size: 14px;
    color: white; 
}

#middleDiv
{
    width: 1000px;
    height: 800px;
    min-height: 800px;    
    max-height: 800px;
    overflow:auto;
    height: auto;
    float: left;
    margin-top: 0px;
    padding-top: 20px;
    background: #D6D6D6 url(../images/background.png) no-repeat;
}

#bottomDiv
{
    width:1000px;
    height: 30px;
    background: url(../images/bg_menu.gif) repeat-x;
    float:left;
    text-align: center;
    font-family:Arial;
    font-size:12px;
    font-weight: bold;
    color:#FFFFFF;
}

#branchesTableDiv
{
    width: 900px;
    height: auto;
    margin: 30px auto 20px auto;
    box-shadow: 10px 10px 10px #505050;   
}

#branchesTableHeader
{
    border-left:1px white solid;
    border-top:1px white solid;
    border-right:1px black solid;
    border-bottom:1px black solid;
    font-family:Verdana;
    color: white;
    background-color: #505050;  
    font-size:11px;
    font-weight:bold;
}

#branchesTableRow td
{
    font-family:Verdana;
    font-size:12px;
    vertical-align:middle;
    cursor:default;
    font-weight: bold;
    padding: 4px;
}

.oddRow
{
    background:#FFFFFF;
    opacity:0.60;
    -moz-opacity: 0.60;
    filter: alpha(opacity=60);        
    
}

.evenRow
{
    background:#ECF2FD;
    opacity:0.60;
    -moz-opacity: 0.60;
    filter: alpha(opacity=60);      
}

.highlight
{
    background:#B9C5F4;
    font-size:12px;
    font-weight:bold;
}

#userFormDiv
{
    width: 470px;
    height: 310px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    margin: 10px auto 20px auto;    
    background-color:#E6E6FA; 
    box-shadow: 10px 10px 10px #505050;
    position: absolute;
    left: 35%;
    top: 35%;
    z-index: 2;      
}

#settingsFormDiv
{
    width: 470px;
    height: 450px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background-color:#E6E6FA; 
    margin: 30px auto 20px 250px;
    box-shadow: 10px 10px 10px #505050;
    float: left;
}

#branchFormDiv
{
    width: 470px;
    height: 200px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background-color:#E6E6FA; 
    margin: 10px auto 20px auto;
    box-shadow: 10px 10px 10px #505050;
}

#locationFormDiv
{
    width: 500px;
    height: 200px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    background-color:#E6E6FA; 
    margin: 10px auto 20px auto;
    box-shadow: 10px 10px 10px #505050;
}

.detailsFormHeaderDiv
{
    width: 470px;
    height: 20px;
    color: white;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px;
    -webkit-border-top-left-radius:10px;
    -webkit-border-top-right-radius:10px;
    background-color: #505050;  
    padding-top: 5px;
    font-size:12px;
    font-weight: bold;
    text-align: center;
}

.detailsLocationFormHeaderDiv
{
    width: 500px;
    height: 20px;
    color: white;
    -moz-border-radius-topleft:10px;
    -moz-border-radius-topright:10px;
    -webkit-border-top-left-radius:10px;
    -webkit-border-top-right-radius:10px;
    background-color: #505050;  
    padding-top: 5px;
    font-size:12px;
    font-weight: bold;
    text-align: center;
}

#detailsTable
{

    margin: 10px auto 20px auto;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}

#detailsTable td
{
    vertical-align: middle;
    padding: 5px;
}

#branchSelectionDiv
{
    width: 879px;
    height: 25px;
    margin-left: 50px; 
    color: white;
    background-color: #505050;  
    margin-top: 30px;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #000000;
    box-shadow: 10px 10px 10px #505050;
}

.tooltip{
    position:absolute;
    padding: 5px 30px;
    background:#000;
    color:#fff;
    border-color: red;
    border-radius:5px;
    z-index: 100;
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;    
}