/*  screen1920Resolution.css
        PROG8105-1 Systems Project: Stylesheet for the office hours board

    Revision History
        Charles Borras, Will Carvalho,
            Huilong Ma, Vandana Sharma,  2012.02.01: Created
*/

*
{
    margin:0px;
    padding:0px;
    outline:none;
}

body
{
    background-color: #FFFFFF;
}

#boardHeaderDiv
{
    width: 100%;
    height: 100px;
    float: left;
    background-color: #FFFFFF;
    font-family: Arial;
    font-size: 100px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    line-height: 100%;
}

#boardLogoDiv
{
    width: 300px;
    height: 100px;
    float: left;
    background: #FFFFFF;
}

#boardTitleDiv
{
    width: 1310px;
    height: 100px;
    float: left;
    color: #000000;    
}

#boardContentDiv
{
    width: 100%;
    height: 805px;
    float: left;
}

#boardSchedule
{
    width: 100%;
    border-collapse: collapse;
}

#boardStatusIcon {width: 4%}
#boardFirstName {width: 24%} 
#boardOfficeHour {width: 24%}
#boardBranch {width: 24%}
#boardLocation {width: 24%}

#errorMessage
{
    width: 100%;
    height: auto;
    float: left;
    padding: 10px;
    background-color: #900000;
    border: 1px solid white;
    font-size: 14px;
    color: white;
}

#boardSchedule thead
{
    width: 100%;
    height: 73px;
    font-family: Arial;
    font-size: 35px;
    font-weight: bold;
    text-align: center;    
}


#boardSchedule thead td
{
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #000000;
}

#boardSchedule tbody tr
{
    width: 100%;
    height: 73px;
    font-family: Arial;
    font-size: 44px;
    font-weight: bold;
    text-align: center;
}

#boardFooterDiv
{
    width: 100%;
    height: 165px;
    float: left;
}

#legendDiv
{
    width: 23%;
    height: 146px;
    float: left;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
}

#clockDiv
{
    width: 50%;
    height: 130px;
    float: left;
    font-size: 110px;
    word-spacing: 1px;
    font-family: Arial;
    font-weight: bold;
    text-align: center;    
}

#todaysDateDiv
{
    float: left;
    width: 50%;
    height: 40px;
    font-size: 20px;
    font-family: Arial;
    font-weight: bold;
    text-align: center;    
}

#widgetDiv
{
    width: 20%;
    margin-top: 15px;
    height: 150px;
    float: right;
    text-align: center;
}

#legendDiv label img
{
    vertical-align: middle;;
}

